<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>

  <p>
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" #firstname="ngModel" ngModel
    required minlength="5" maxlength="10">
</p>
{{firstname.errors | json}}
<div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)">

  <div *ngIf="firstname.errors.required">
    <span style="color: red;"> First Name is required </span>
 </div>
 <div *ngIf="firstname.errors.minlength">
  <span style="color: red;">First Name Minimum Length is {{firstname.errors.minlength?.requiredLength}}</span>
</div>
</div>

<p>
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" ngModel required pattern="^[a-zA-Z]+$">
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" #email="ngModel" ngModel required email >
  </p>
  <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
    <div *ngIf="email.errors.required">
      <span style="color: red;">Email is required </span>
    </div>
    <div *ngIf="email.errors.email">
      <span style="color: red;"> Invalid Email Address </span>
    </div>
  </div>
  <p>
    <label for="gender">Geneder</label>
    <input type="radio" value="male" name="gender" ngModel> Male
    <input type="radio" value="female" name="gender" ngModel> Female
  </p>

  <p>
    <label for="isMarried">Married</label>
    <input type="checkbox" name="isMarried" ngModel>
  </p>

  <select name="country" ngModel>
    <option [ngValue]="c.id" *ngFor="let c of countryList">
      {{c.name}}
    </option>
  </select>

  <div ngModelGroup="address">

    <p>
      <label for="city">City</label>
      <input type="text" name="city" ngModel>
    </p>

    <p>
      <label for="street">Street</label>
      <input type="text" name="street" ngModel>
    </p>
    <p>
      <label for="pincode">Pin Code</label>
      <input type="text" name="pincode" ngModel>
    </p>

</div>
  <p>
    <button type="submit"  [disabled]="!contactForm.valid">Submit</button>
  </p>

</form>


