
<div class="container p-5 my-5 border bg-dark text-white">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container class.</p>
  <p>The .container class provides a responsive fixed width container.</p>
</div>

<div class="container-fluid p-5 my-5 border bg-primary text-white">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container-fluid class.</p>
  <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>
</div>
<div class="row bg-primary">
  <div class="col border">.col</div>
  <div class="col border">.col</div>
  <div class="col border">.col</div>
</div>
<div class="row bg-primary" >
  <div class="col-sm border" >.col-sm-3</div>
  <div class="col-md border">.col-sm-3</div>
  <div class="col-lg border">.col-sm-3</div>

</div>
